/*
All thanks to the author: https://codepen.io/FelixLuciano/pen/KKVyZzY
*/

#title {
    width: 100%;
}

#title .parent {
    line-height: 1em;
    color: #666;
}

#title .name {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    mix-blend-mode: difference;
}

#reference {
    display: flex;
}

#reference > a {
    color: #444;
}

#reference > a + a {
    margin-left: 1rem;
}

.size-1 {
    background-size: 300px 150px;
    width: 325px;
    height: 375px;
    border: 2px solid;
}

.size-2 {
    background-size: 300px;
    width: 350px;
    height: 550px;
    border: 2px solid;
}

.size-3 {
    background-size: 300px 150px;
    width: 200px;
    height: 350px;
    border: 2px solid;
}

.size-4 {
    background-size: 300px 150px;
    width: 200px;
    height: 150px;
    border: 2px solid;
}

#folders, .folder {
    width: calc(100% - 3rem);
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5rem;
}

.folder > article {
    width: 100%;
    height: 32px;
    padding: 1rem;
    background-color: #FFF;
}

.folder > figure {
    width: 100%;
    margin: 0;
    background-color: #FFF;
    background-size: cover;
    border-radius: 1rem;
    transition: all 100ms ease-out;
}

.folder > figure:hover {
    box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.folder > figure:after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.folder > figure > figcaption {
    margin: 1rem;
    color: #FFF;
    font-size: 1.25em;
    position: absolute;
}

#folders {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#folders > article {
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    background-color: #FFF;
    border-radius: 1rem;
    line-height: 4rem;
    transition: all 100ms ease-out;
}

#folders > article:hover {
    box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
