<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dh Store{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registerStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ownStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbarStyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    {% include './components/navbar.html' %}
</header>

<div class="demo-page">
    <main class="demo-page-content">
        <section>
            {% block content %}{% endblock %}
        </section>

    </main>
</div>

<footer class="demo-page-content">
    {% include './components/footer.html' %}
</footer>
</body>
</html>
