<div class="footer">
    <div class="row">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
    </div>

    <div class="row">
        <ul>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Catálogo</a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#">Registrate</a></li>
        </ul>
    </div>

    <div class="row">
        ROGER Copyright © 2024 Roger - Todos los derechos reservados || Diseñado por: <a href="https://github.com/rogersx27">@Rogersx27</a>
    </div>
</div>